@model molitec.Data.Models.Domicilio

<div>
   
    <hr />
    <dl class=" col-md-offset-2 col-md-3" style="border-style:solid;border-radius:5px;border-color:black;border-width:0.1em">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Piso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Piso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Depto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Depto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fiscal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fiscal)
        </dd>

    </dl>
</div>

