@model molitec.Data.Models.Grano

<div>
    <hr />
    <dl class=" col-md-offset-2 col-md-3" style="border-style:solid;border-radius:5px;border-color:black;border-width:0.1em">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Iva)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Iva)
        </dd>
        
    </dl>
</div>

