@model molitec.Data.Descarga

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Descarga</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.FArribo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FArribo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FDescarga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FDescarga)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Turno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Turno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraDescarga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraDescarga)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bruto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bruto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tara)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tara)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Neto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Neto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoraArribo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraArribo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
